<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#/MakeBooking">Make a Booking</a>
                </li>
                <li>
                    <a href="#/ViewBookings">View All Bookings</a>
                </li>
                <li>
                    <a href="#/ClientsList">View All Clients</a>
                </li>
                <li>
                    <a href="#/JobsList">View All Jobs</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>