<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    View All Bookings
                </h1>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="gridStyle" ng-grid="gridOptions" style="margin: 0 auto">
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                Powered by
            </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="img-rounded" alt="200x200" src="img/AngularJS-large.png" />
                        <div class="caption">
                            <h4>
                                Superheroic Javascript MVW Framework for SPAs
                            </h4>
                            <p>
                                <a class="btn btn-primary" href="http://angularjs.org">Visit AngularJS</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="img-rounded" alt="140x140" src="img/mongo-lab.png" />
                        <div class="caption">
                            <h4>
                                MongoDB Hosting: Database as a Service
                            </h4>
                            <p>
                                <a class="btn btn-primary" href="https://mongolab.com">Visit MongoLab</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="img-rounded" alt="200x200" src="img/bootstrap.jpg" />
                        <div class="caption">
                            <h4>
                                The most popular responsive front-end framework
                            </h4>
                            <p>
                                <a class="btn btn-primary" href="http://getbootstrap.com/">Visit Bootstrap</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
